@using EntitiyLayer.Concrete
@model List<Category>


@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h2>MVC KAMP TABLO ÖRNEĞİ-KATEGORİ</h2>
<br />
<table class="table table-bordered table-hover table-striped"  >
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    <td>@item.CategoryStatus</td>
                </tr>
            }

</table>
<br />
<a href="/Category/AddCategory" class="btn btn-primary">YENİ KATEGORİ</a>
