
@{
    Layout = null;
}

<h2>MVC KAMP TABLO ÖRNEĞİ-KATEGORİ</h2>
<br />
<table class="table table-bordered" border="1">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>
